<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title  | eRevenues System</title>
    @Styles.Render("~/Adminlte/css")
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Reportviewer.css">
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/fontawesome-free/css/all.min.css">

    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">
        @if (Request.IsAuthenticated)
        {
            @Html.Partial("_NavBar")
            @Html.Partial("_SideBar")

        }

        <div class="content-wrapper">
            @RenderBody()

        </div>
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <!--<div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>-->
        </aside>

        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <!-- Default to the left -->
            <div class="float-right d-none d-sm-block position-fixed">

            </div>
            &copy; <span style="color: #e25555;">
                &hearts;
                የባለቤትነት መብት © 2022 የገቢዎች ቢሮ - መብቱ በሕግ የተጠበቀ ነው
            </span>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/customscript")


    @RenderSection("scripts", required: false)
</body>


</html>
