@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>eRevenuePlanningSystem | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="@Url.Content("~/Content/AdminLTE/adminlte.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/AdminLTE/Plugins/fontawesome-free/css/all.min.css")" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="hold-transition login-page" style="background-color:white;">
    <img src="~/img/Headernew.jpg" class="img-fluid  object-fit:center" alt="logo" style="width: 100%;  height: 75px; margin-bottom:initial; top:0; position:fixed;"> <br>

    <div class="login-box" style="padding-top: 22%; margin-top: -20px; margin-bottom: 12%; position:fixed;">

        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="logo-img"><img src="~/img/avatar.png" style="width: 117px; border-radius:50%; height: 108px; margin-left: 35%; margin-top: -50px;" /></div>
            <div class="card-header text-center">

                <a href="#" class="h1" style="font-family:'Comic Sans MS';font-size:26px"><b>Sign in </b> <b>e</b><b>Revenue</b></a>
            </div>
            <div class="card-body">

                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                       
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-feedback", @placeholder = "UserName" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group has-feedback">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        </div>
                        <div class="row">
                            @*<div class="col-8">
                                    <div class="checkbox icheck">
                                        <label>
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </label>
                                    </div>
                                </div>*@

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>

                        </div> @*<p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>*@ //Enable this once you have account confirmation enabled for password reset functionality
                        @*<p class="mb-1">
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@}
                </section>
                @*<section id="socialLoginForm" contenteditable="false">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>*@
            </div>

        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Url.Content("~/Scripts/AdminLTE/Plugins/bootstrap/js/bootstrap.bundle.min.js")">
        @Url.Content("~/Scripts/AdminLTE/adminlte.min.js")">
    }

</body>
</html>
